<?xml version="1.0"?>
<!-- Gripper Description entrypoint. -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gripper_version" default="v1_0"/>

  <xacro:if value="$(eval gripper_version == 'v1_0' or gripper_version == 'v1.0' or gripper_version == '1.0' or gripper_version == 1.0)">
    <xacro:include filename="$(find gripper_description)/urdf/variants/V1.0/gripper_v1_0.xacro"/>
  </xacro:if>

  <xacro:if value="$(eval gripper_version == 'v1_1' or gripper_version == 'v1.1' or gripper_version == '1.1' or gripper_version == 1.1)">
    <xacro:include filename="$(find gripper_description)/urdf/variants/V1.1/gripper_v1_1.xacro"/>
  </xacro:if>

</robot>
